@page
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.P42.MDM.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using DMSpro.P42.MDM.Web.Pages.MDM.Companies
@using DMSpro.P42.MDM.Companies;
@using System.Globalization
@inject IHtmlLocalizer<MDMResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/MDM/Companies/CreateModal" autocomplete="off">
    <abp-modal id="CompanyCreateModal">
        <abp-modal-header title="@L["NewCompany"].Value"></abp-modal-header>

        <abp-modal-body>
            <abp-tabs>
                <abp-tab title="@L["Company"].Value">

                    <abp-input asp-for="Company.Code" />

                    <abp-input asp-for="Company.Name" />

                    <abp-input asp-for="Company.Address1" />
                </abp-tab>

                <abp-tab title="@L["IdentityUsers"].Value">
                    <div class="input-group mb-3">
                        <select id="IdentityUserLookup"
                                name="IdentityUserLookup"
                                class="custom-select form-control"
                                style="width: 85%"
                                data-value="">
                        </select>
                        <abp-button button-type="Info" id="AddIdentityUserButton" class="text-light">@L["Add"]</abp-button>
                    </div>

                    <abp-row>
                        <abp-table style="display:none" id="IdentityUserTable">
                            <thead Theme="Dark">
                                <tr style="text-align: center; vertical-align: middle;">
                                    <th scope="Column" style="text-align: left">Name</th>
                                    <th scope="Column"></th>
                                </tr>
                            </thead>
                            <tbody id="IdentityUserTableRows">
                            </tbody>
                        </abp-table>
                    </abp-row>
                </abp-tab>

            </abp-tabs>
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>