@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using DMSpro.P42.MDM.Permissions
@using DMSpro.P42.MDM.Web.Pages.MDM.Companies
@using DMSpro.P42.MDM.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using DMSpro.P42.MDM.Localization
@inject IHtmlLocalizer<MDMResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Companies"].Value;
    PageLayout.Content.MenuItemName = MDMMenus.Companies;
}

@section scripts
{
    <abp-script src="/Pages/MDM/Companies/index.js" />
}

@section content_toolbar {
    @if (await Authorization.IsGrantedAsync(MDMPermissions.Companies.Create))
    {
        <abp-button id="NewCompanyButton" text="@L["NewCompany"].Value" icon="plus" button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="CodeFilter" label="@L["Code"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="NameFilter" label="@L["Name"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="Address1Filter" label="@L["Address1"].Value" />
            </abp-column>
        </abp-row>

        <abp-table striped-rows="true" id="CompaniesTable">
            <thead>
				<tr>
					<th>@L["Actions"]</th>
					<th>@L["Code"]</th>
					<th>@L["Name"]</th>
					<th>@L["Address1"]</th>

				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>